#form_widget {
  max-width: 1280px;
  margin: 0 auto;
  padding: 1rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.system,
.theme-light,
.theme-dark {
  background-color: var(--background-color);
}
